@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue</h1>
    <p>Un site pour recenser les Companys.</p>
    <img src="~/Images/company.jpg" />
</div>

